<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <div class="container">
        <form action="/admin" enctype="multipart/form-data" method="POST">
            <label>Username:</label>
            <br>
            <input name="username" type="username" >
            <br>
            <label>Password:</label>
            <br>
            <input name="password" type="password" >
            <br><br>
            <input type="submit">
        </form>
    </div> <!-- /container -->
<p>{{ msg }}</p>
</body>
</html>